/* Form.module.css */
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9; /* Couleur de fond légère pour distinguer le formulaire */
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .formTitle {
    color: #333;
    font-size: 1.8rem;
    margin: 20px 0;
    text-align: center;
  }
  
  .inputField {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .submitButton {
    background-color: #007bff; /* Couleur de fond du bouton */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #0056b3; /* Couleur au survol */
  }
  
  .errorMessage {
    color: #d9534f; /* Couleur pour les messages d'erreur */
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  @media (min-width: 768px) {
    .formContainer {
      margin: 10px;
      padding: 30px;
    }
  
    .inputField,
    .submitButton {
      width: 100%; /* Ajuste la largeur des champs et du bouton sur de plus grands écrans */
    }
  }
  